*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container-box{
    display: flex;
    gap: 10px 10px;
    flex-wrap: wrap;
    width: 800px;
    justify-content: center;
}
.container{
    width: 800px;
    margin: 0 auto;
}
.box-empty{
    background-color: rgb(55, 55, 227);
}
.box-fizz{
    background-color: rgb(21, 156, 116);
}
.box-buzz{
    background-color: rgb(255, 230, 0);
}
.box-fizzBuzz{
    background-color: crimson;
}
body{
    background-color: darkblue;
}
h1{
    font-size: 80px;
    color: white;
    text-align: center;
    margin: 30px 0;
}
.box{
    width: calc(100% / 7 - 10px);
    height: 104px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}